@import 'variables';

.flex-row {
  .col:first-child, .col:last-child {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}