@import 'variables';

.full-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 10vh 30vw;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 10;

  form {
    height: fit-content;
    position: relative;
    background-color: white;
    padding: 30px;
    justify-content: flex-start;
    border-radius: 10px;

    input, button, textarea, label, .error {
      width: 100%;
    }
  }

  label.flex-row {
    justify-content: flex-start;
    flex-wrap: wrap;

     p {
      color: $orange;
     }
  }

  .close {
    position: absolute;
    top: 0;
    right: 30px;
    width: fit-content;
    background-color: none;
  }

  .chips-container {
    width: 100%;
  }
}