@import 'variables';

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  @extend .flex-row;
  flex-direction: column;
}

.logo {
  width: 20vmin;
  margin-bottom: 5vmin;
}

.round-img-s {
  width: 60px;
}

.side {
  width: 20vw;
  height: 100vh;
  justify-content: flex-start;
}

.pad-s {
  padding: 2vmin;
}

.pad-s {
  
}
