@import 'variables';

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  @extend .flex-row;
  flex-direction: column;
}

.logo {
  width: 125px;
  height: 40px;
}

.img-s {
  width: 60px;
}

.icon {
  color: $orange;
  cursor: pointer;
}